<template name="navbar">
  <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
    <a class="navbar-brand" href="{{pathFor 'app.home'}}">adventizr.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{pathFor 'app.home'}}">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">features</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {{#if currentUser}}
          <li class="nav-item">
            <a class="nav-link" href="{{pathFor 'user.profile'}}">profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logout" href="">logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="{{pathFor 'app.login'}}">login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
