$advent-green: #00897b;
$advent-accent: #ff4081;

$btn-advent-color: $white;
$btn-advent-bg: $advent-green;
$btn-advent-border: $btn-advent-bg;

$btn-accent-color: $white;
$btn-accent-bg: $advent-accent;
$btn-accent-border: $btn-accent-bg;